.sidenav{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  list-style: none;
}
.container{
  float
}
/*#searchbar {
margin-right: 2px;
}*/

#panel-left {
  width: 48%;
  float: left;
  margin: 1px;
  background-color: #f5fffa;
}

#panel-right {
  width:48%;
  float: right;
  margin: 1px;
  background-color: #cedff2;

}
#panel-bottom {
  width:100%;
  float: right;
  margin: 1px;
  background-color: hsla(285, 100%, 94%, 1);

}
#panel-bottom-heading{
  background-color: hsla(285, 100%, 89%, 1);
}
